<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EquationKeyboardCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MainKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A2BDF0B1DD835F20008898B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2BDF1F1DD835F20008898B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2BDF2A1DD835F20008898B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2BDF401DD836070008898B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
